<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="{{title}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="http://localhost/apple-touch-icon.png">
    <link rel="stylesheet" href="http://localhost/css/bootstrap.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="http://localhost/img/dsd24.png">
            </a>
            <a class="navbar-brand" href="http://localhost/index.html">大屎蛋教程网</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://localhost/about.html">关于</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <!-- 顶部面包屑导航-->
    <ol class="breadcrumb">
        <li><a href="http://localhost/index.html">首页</a></li>
        <li class="active"><a href="http://localhost/article/{{article_type}}/index.html">{{educate_str}}</a></li>
    </ol>
    <hr>
    <!-- 顶部标签页-->
    <ul class="nav nav-tabs" role="tablist">
        {{#each tab_content}}
            {{#if isActive}}
                <li class="active"><a href="{{url}}">{{text}}</a></li>
            {{else}}
                <li><a href="{{url}}">{{text}}</a></li>
            {{/if}}
        {{/each}}
    </ul>
    <!--文档区-->
    <div>
        <!-- 替换这个区域-->
        {{{content}}}
    </div>
    <hr>
    <!-- 底部面包屑导航-->
    <ol class="breadcrumb">
        <li><a href="http://localhost/index.html">首页</a></li>
        <li class="active"><a href="http://localhost/article/{{article_type}}/index.html">{{educate_str}}</a></li>
    </ol>
    <hr>
    <nav>
        <ul class="pager">
            {{#if last}}
                <li>
                    <a href="http://localhost/article/{{article_type}}/{{sub_folder}}/{{last}}"><span>&larr;</span>上一篇</a>
                </li>
            {{/if}}
            {{#if next}}
                <li>
                    <a href="http://localhost/article/{{article_type}}/{{sub_folder}}/{{next}}">下一篇<span>&rarr;</span></a>
                </li>
            {{/if}}
        </ul>
    </nav>
</div>

<div style="display:none;">
    <script src="https://s19.cnzz.com/z_stat.php?id=1264355070&web_id=1264355070" language="JavaScript"></script>
</div>

<script src="http://localhost/js/jquery-3.2.1.min.js"></script>
<script src="http://localhost/js/vendor/modernizr-custom.js"></script>
<script src="http://localhost/js/bootstrap.js"></script>
<script src="http://localhost/js/google-code-prettify/run_prettify.js"></script>
</body>
</html>
