<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="{{title}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">

    <link rel="stylesheet" href="http://localhost/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost/css/dashidan.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="http://localhost/img/dsd24.png">
        </a>
        <a class="navbar-brand" href="http://localhost/index.html">大屎蛋教程网</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost/about.html">关于</a></li>
            <li><a href="http://localhost/thanks.html">鸣谢</a></li>
            <li><a href="http://localhost/siteMap.html">网站地图</a></li>
        </ul>
    </div>
</nav>
<div class="fullscreen">
    <div class="container-fluid">
        <!-- 顶部面包屑导航-->
        <ol class="breadcrumb">
            <li><a href="http://localhost/index.html">首页</a></li>
            <li class="active"><a href="http://localhost/article/{{article_type}}/index.html">{{nav_str}}</a></li>
        </ol>

        <div class="dsd_content">
            <div id="xs_index" class="col-sm-3 col-md-3 col-lg-3 col-xs-12 hidden-xs">
                <div>
                    {{{index_data}}}
                </div>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <!-- 文章内容-->
                <div class="dsd_title"><h1>{{fileName}}</h1></div>
                <div id="xs_content_border">
                    {{{content}}}
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="text-center navbar-fixed-bottom">
    <div class="visible-xs-block">
        <div class="bg-primary text-center" onclick="window.open('../index.html','_self')" style="cursor: pointer">
            目录
        </div>
    </div>
    {{#if next}}
        <a href="http://localhost/article/{{article_type}}/{{sub_folder}}/{{nextNum}}.html">下一篇: {{next}}</a>
    {{/if}}
</footer>
<div style="display:none;">
    <script src="https://s19.cnzz.com/z_stat.php?id=1264355070&web_id=1264355070" language="JavaScript"></script>
</div>

<script src="http://localhost/js/jquery-3.2.1.min.js"></script>
<script src="http://localhost/js/vendor/modernizr-custom.js"></script>
<script src="http://localhost/js/bootstrap.js"></script>
<script src="http://localhost/js/google-code-prettify/run_prettify.js"></script>
<script src="http://localhost/js/main.js"></script>
</body>
</html>
